{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Little Lemon Restaurant</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'home' %}">
            <img src="{% static 'img/logo.svg' %}" alt="Little Lemon">
        </a>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'menu' %}">Menu</a></li>
            <li><a href="{% url 'book' %}">Book</a></li>
            <li><a href="{% url 'reservations' %}">Reservations</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <img src="{% static 'img/logo.svg' %}" alt="Little Lemon"><br>
        <p>&copy; 2026 Little Lemon. All rights reserved.</p>
    </footer>
</body>
</html>
