{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
  <article>
    <h1>All Reservations</h1>
    <div class="row">
      <div class="column">
        <div id="bookings">
          <pre id="bookings-json">{{ bookings }}</pre>
        </div>
      </div>
      <div class="column">
        <div class="videowrap">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11880.492291371422!2d-87.6327868!3d41.8832267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2cbc682b13db%3A0x608a1c8f1e0cf558!2sChicago%2C%20IL!5e0!3m2!1sen!2sus!4v1682121300000"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
          </iframe>
        </div>
      </div>
    </div>
  </article>
</section>

<script>
  const bookings = JSON.parse('{{ bookings|safe }}')
  document.getElementById('bookings-json').innerText = JSON.stringify(bookings, null, 2)
</script>
{% endblock %}
