.card-gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-6);
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (width >= 600px) {
    .card-gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (width >= 1000px) {
    .card-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}
